<h1>Choose a Product</h1>
<div>
	{{!-- this is using a route parameter --}}
	<a href="/users/3/products/1">Product 1</a>
</div>
{{!-- this uses a query string --}}
<div>
	<a href="/products/?q=2">Product 2</a>
</div>
<div>
	<a href="/products/3">Product 3</a>
</div>
<div>
	<a href="/products/4">Product 4</a>
</div>
<div>
	<a href="/products/5">Product 5</a>
</div>